## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## VS Code
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Publish output
[Pp]ublish*/

## Visual Studio
. vs/
*.sln.ide/

## ASP.NET Core
appsettings.*.json
!appsettings.json
!appsettings.Development.json

## OS files
.DS_Store
Thumbs.db
*.vsidx
