<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="db" connectionString="Data Source=172.24.233.98;Initial Catalog=TLMOMAN;Persist Security Info=True;User ID=sa;Password=a;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FedexExpressEntityFramwork" connectionString="Data Source=172.24.233.98;Initial Catalog=TLMOMAN;Persist Security Info=True;User ID=sa;Password=a;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <!--<add name="db" connectionString="Data Source=10.10.6.11;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=a;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="FedexExpressEntityFramwork" connectionString="Data Source=ISD-SEU-39\MSSQL;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=pass123#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <!--<add name="FedexExpressEntityFramwork" connectionString="Data Source=10.11.5.205\sql2014;Initial Catalog=TLMKSALIVE;Persist Security Info=True;User ID=sa;Password=pass123#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->

    <add name="FedexExpressEntityFramwork" connectionString="Data Source=10.10.6.12;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=a;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="db" connectionString="Data Source=10.10.6.12;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=a;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />


    <!--<add name="FedexExpressEntityFramwork" connectionString="Data Source=10.10.6.11;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=a;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="db" connectionString="Data Source=10.10.6.11;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=a;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
</configuration>