<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="db" connectionString="Data Source=ISD-SEU-77;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=pass123###;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
	  <add name="db" connectionString="Data Source=186.100.100.232;Initial Catalog=TLM001LK1;Persist Security Info=True;User ID=sa;Password=pass321@$M#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <!--<add name="db" connectionString="Data Source=10.10.6.11;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=a;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>