<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net452" />
  <package id="MailKit" version="3.0.0" targetFramework="net452" />
  <package id="MimeKit" version="3.0.0" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net452" />
  <package id="QRCoder" version="1.4.3" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" />
</packages>