
.strength_input{
    width: 230px;
    font-size: 18px;
   
}




.veryweak {
    background-color: #FF7979;
    width: 25% !important;
}
.weak {
    background-color: #FDA068;
    width: 50% !important;
}
.medium {
    background-color: #FFE560;
    width: 75% !important;
}
.strong {
    background-color: #9BF47D;
    width: 100% !important;
}

/* Styles for verification */
.pswd_info {
	position:absolute;
	width: 320px;
	padding:15px;
	background:#fefefe; 
	font-size:20px;
	border-radius:18px;
	box-shadow:0 1px 3px #ccc;
	border:1px solid #ddd;
	display:none;
    z-index: 1000;
    top: 62px;
    right: 0;
    background-color: rgb(238,238,238);
    box-shadow: 5px 5px 5px #888888;
    margin-right:-270px;
    margin-top:-100px;
}

.pswd_info:before,
.pswd_info:after {
    position: absolute;
    bottom: 100%;
    content: '';
}




.pswd_info ul li {
    visibility: visible !important;
    height: 20px !important;
    min-height: 20px !important;
	line-height:24px;
    font-size: 0.7em;
    padding-left: 24px !important;
}

.pswd_info .invalid {
	background:url(images/invalid.png) no-repeat 0 50%;
	color:#ec3f41;
}
.pswd_info .valid {
	background:url(images/valid.png) no-repeat 0 50%;   
	color:#3a7d34;
}