/* CSS Document */

body {
  background: #fff;
  padding: 0;
}

.container {
  font-family: "roboto";
  font-size: 16px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
}

h1 {
  color: #08f;
  font-weight: 100;
  font-size: 44px;
  margin-top: 150px;
}

input {
  background: transparent;
  font-size: 16px;
  border: 1px solid #ddd;
  border-width: 0 0 1px 0;
  border-radius: 0;
  line-height: 40px;
  height: 40px;
  width: 100%;
  outline: none;
  padding-left: 10px;
}

ul#my-tree {
  margin: 0;
  padding: 10px 5px;
  color: #666;
}

ul#my-tree	li {
    margin: 5px 0;
    line-height: 30px;
    background: #eee;
}

ul#my-tree li:hover {
    background: #ddd;
}

ul#my-tree li a {
    color: #666;
    text-decoration: none;
    display: block;
    width: 100%;
}

div.desc {
  margin: 20px 0;
  color: #aaa;
  font-size: 11px;
  text-align: left;
}

.tf-tree,
.tf-tree li {
  list-style: none;
  padding-left: 0;
  line-height: 20px;
}

.tf-tree .tf-child-true > ul {
    display: none;
    padding-left: 0;
    padding-bottom: 5px;
}

.tf-tree .tf-child-true {
  cursor: pointer;
  position: relative;
}

.tf-tree .tf-child-true:before {
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    content: "▸";
    width: 20px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    transition: .1s linear;
}

.tf-tree .tf-child-true.tf-open > a {
  font-weight: bold;
}

.tf-tree .tf-child-true.tf-open > ul {
  display: block;
}

.tf-tree .tf-child-true.tf-open:before {
  -webkit-transform: rotate(90deg);
}

.tf-tree .tf-child-false {
  cursor: pointer;
  position: relative;
}

.tf-tree .tf-child-false:before {
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  content: "•";
  width: 20px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.tf-tree .tf-closed {
  font-weight: normal;
}

.tf-tree .tf-selected {
    background: #ccc !important;
    color: #08f;
    border-radius: 0;
}

.tf-tree ul.tf-search-result {
  display: block;
}

.tf-tree ul.tf-search-result > li {
  display: none;
}

.tf-tree ul.tf-search-result > li.tf-search-result {
  display: block;
}