<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="db" connectionString="Data Source=ISD-SEU-77;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=pass123###;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

		<add name="db" connectionString="Data Source=10.11.30.202;Initial Catalog=DB_EDoc;Persist Security Info=True;User ID=sa;Password=pass123###;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="UploadFilePath" value="C:\Uploads\eDoc\" />
		<add key="pdftoImagespath" value="C:\Uploads\Scanning\" />
		
	</appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
	</startup>
</configuration>