<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SOURCE_PROTOCOL" value="SFTP" />
		
		<!--<add key="SAP_IP" value="172.20.28.10" />-->
		<add key="SAP_IP" value="172.20.25.10" />
		<add key="SAP_PORT" value="49779" />
		<!--<add key="SAP_SUN" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKVHStpkQtkW8GH2J/fQpJAAAAAACAAAAAAADZgAAwAAAABAAAABEbXMNNx1V/XWqyA/UR2vnAAAAAASAAACgAAAAEAAAAEeQHFbOvG/pdyjoM/2xVesYAAAABOzo7NCTHk8UOeyxlVgU/gTfcArRonayFAAAAF1pPr2K02HNYSuZ0/BdAwIbDDKg" />
		<add key="SAP_SPW" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKVHStpkQtkW8GH2J/fQpJAAAAAACAAAAAAADZgAAwAAAABAAAAC/u+mhaQ8m2RKyH0AtozxgAAAAAASAAACgAAAAEAAAADMfOQf9srmBsSWjNHjKDt8oAAAA5jJ6JFTWrNAaaPd9rZnMoZAxgOS/ACNDQa2pA+9rfmLnKgNt+n5a0BQAAAD9M20sjPH2tyCWjNhUtXLcTDh1zg==" />-->
		<add key="SAP_SUN" value="advdebtors" />
		<add key="SAP_SPW" value="" />
		<add key="SAP_SOURCE" value="/sftp/" />
		<add key="SAP_DESTIN" value="C:\Debtors_Dashboard\" />
		<add key="SOURCE_OPTIONS" value="ARCHIVE,DELETE" />


		<add key="SOURCE_IP" value="adv-tlmpro01.hayleys.net" />
		<add key="SOURCE_PORT" value="22" />
		<add key="SOURCE_SUN" value="adv.debtors" />
		<add key="SOURCE_SPW" value="" />

		<!--<add key="SOURCE_SUN" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKVHStpkQtkW8GH2J/fQpJAAAAAACAAAAAAADZgAAwAAAABAAAAALTlrf7RQalLGyzJQkiycsAAAAAASAAACgAAAAEAAAAG4oJ/9z9ZvvfG4kOBuHVL0YAAAAtWHumXMH15DdCh2k8wb770L0HCY0tdryFAAAAORnc1hDIY/PgYwPTUZm8f3ui84Z" />
		<add key="SOURCE_SPW" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKVHStpkQtkW8GH2J/fQpJAAAAAACAAAAAAADZgAAwAAAABAAAAA28q18EQEak/zd3pS4ciJKAAAAAASAAACgAAAAEAAAAPs1S7MtSp5NiGljKdTufUcgAAAAVotWH8PZnUvchaQMvr2RRrjbpu29+SE6bvqzC5j3re8UAAAAtAKZgP+uwyIE1xyehZU128peQ74=" />-->
		<add key="SOURCE_PATH" value="/" />
		
		<add key="ARCHIVE_IP" value="adv-tlmpro01.hayleys.net" />
		<add key="ARCHIVE_PORT" value="22" />
		<add key="ARCHIVE_SUN" value="adv.debtors" />
		<add key="ARCHIVE_SPW" value="" />

		<!--<add key="ARCHIVE_SUN" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKVHStpkQtkW8GH2J/fQpJAAAAAACAAAAAAADZgAAwAAAABAAAAALTlrf7RQalLGyzJQkiycsAAAAAASAAACgAAAAEAAAAG4oJ/9z9ZvvfG4kOBuHVL0YAAAAtWHumXMH15DdCh2k8wb770L0HCY0tdryFAAAAORnc1hDIY/PgYwPTUZm8f3ui84Z" />
		<add key="ARCHIVE_SPW" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKVHStpkQtkW8GH2J/fQpJAAAAAACAAAAAAADZgAAwAAAABAAAAA28q18EQEak/zd3pS4ciJKAAAAAASAAACgAAAAEAAAAPs1S7MtSp5NiGljKdTufUcgAAAAVotWH8PZnUvchaQMvr2RRrjbpu29+SE6bvqzC5j3re8UAAAAtAKZgP+uwyIE1xyehZU128peQ74=" />-->
		<add key="ARCHIVE_PATH" value="/Archive/" />

		<add key="DESTIN_PROTOCOL" value="SFTP" />
		<add key="DESTIN_IP" value="Kuhlekt.com" />
		<add key="DESTIN_PORT" value="22" />
		<add key="DESTIN_SUN" value="advantis" />
		<add key="DESTIN_SPW" value="" />

		<!--<add key="DESTIN_SUN" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKVHStpkQtkW8GH2J/fQpJAAAAAACAAAAAAADZgAAwAAAABAAAAD6PUlMEOeKXEmbijLOQ9ivAAAAAASAAACgAAAAEAAAANkGop/0cXaCNCsoM5HHJIcYAAAAt1ySjG9qESD+OiYFhb9A2r4WXgK6xiUIFAAAAK/E3hRDBE5n828yLPdbEH1MbGvx" />
		<add key="DESTIN_SPW" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKVHStpkQtkW8GH2J/fQpJAAAAAACAAAAAAADZgAAwAAAABAAAAB4yU2qv9IY+KF7vAsZA+tcAAAAAASAAACgAAAAEAAAAPd9BsJPJ3n9A2suXLpvV5IgAAAAQ4heIXrSSxlG2uwlEaIQNIyYe3aaTTmH+vlZs3OoyLgUAAAAcZdH7iuosjU8Yt0tFmASg5ZQn9k=" />-->
		<add key="DESTIN_PATH" value="/home/advantis/secure_uploads/" />
		<add key="DESTIN_OPTIONS" value="OVERWRITE" />
		<add key="DESTIN_ARCHIVE_PATH" value="/home/advantis/secure_uploads/Archive/" />

		<add key="FILES" value="ADVF_Open_Items.csv,ADVF_Customer_Data.csv" />
	</appSettings>	
</configuration>