<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Express.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true"> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
      
  </startup>
  <connectionStrings> 
    <!--<add name="FedexExpressEntityFramwork" connectionString="Data Source=ISD-SEU-47;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=Pass123#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
      <add name="FedexExpressEntityFramwork" connectionString="Data Source=.\sql2014;Initial Catalog=TLMOMAN;Persist Security Info=True;User ID=sa;Password=pass123#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
     <!--<add name="FedexExpressEntityFramwork" connectionString="Data Source=ISD-SEU-39\MSSQL;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;3Password=pass123#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->

    <!--<add name="FedexExpressEntityFramwork" connectionString="Data Source=169.50.10.118;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=a;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <!--<add name="FedexExpressEntityFramwork" connectionString="Data Source=169.50.10.119;Initial Catalog=TLMKSA;Persist Security Info=True;User ID=sa;Password=a;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <Express.UI.Properties.Settings>
      <setting name="SAPApiUrl" serializeAs="String">
        <value>http://169.50.10.118:8080/KSAAPI/</value>
      </setting>
    </Express.UI.Properties.Settings>
  </userSettings>
</configuration>
