<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-CMMS2020-20200320035000.mdf;Initial Catalog=aspnet-CMMS2020-20200320035000;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-QHR7HKE;Initial Catalog=DB_CMMS2020;Integrated Security=False;User Id=sa;Password=afisol@123;"
      providerName="System.Data.SqlClient" />
    <add name="DB_CMMS2020Entities" connectionString="metadata=res://*/Repository.ModelCMMS2020.csdl|res://*/Repository.ModelCMMS2020.ssdl|res://*/Repository.ModelCMMS2020.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QHR7HKE;initial catalog=DB_CMMS2020;user id=sa;password=afisol@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- QA / AV UAT-->
    <!--<add name="DefaultConnection" connectionString="Data Source=10.11.30.202;Initial Catalog=DB_EDoc;Integrated Security=False;User Id=sa;Password=pass123###;" providerName="System.Data.SqlClient" />
    <add name="DB_EDocEntities" connectionString="metadata=res://*/Repository.ModeleDocs.csdl|res://*/Repository.ModeleDocs.ssdl|res://*/Repository.ModeleDocs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.11.30.202;initial catalog=DB_EDoc;user id=sa;password=pass123###;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--TTS UAT-->
    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.150;Initial Catalog=MountFreight210427;Integrated Security=False;User Id=sa;Password=a;" providerName="System.Data.SqlClient" />
    <add name="DB_EDocEntities" connectionString="metadata=res://*/Repository.ModeleDocs.csdl|res://*/Repository.ModeleDocs.ssdl|res://*/Repository.ModeleDocs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.150;initial catalog=MountFreight210427;user id=sa;password=a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--<add name="DefaultConnection" connectionString="Data Source=AFISOL\SQLEXPRESS;Initial Catalog=DB_CMMS_20200813_Expack;Integrated Security=False;User Id=sa;Password=Afisol@123;" providerName="System.Data.SqlClient" />
    <add name="DB_CMMS2020Entities" connectionString="metadata=res://*/Repository.ModelCMMS2020.csdl|res://*/Repository.ModelCMMS2020.ssdl|res://*/Repository.ModelCMMS2020.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AFISOL\SQLEXPRESS;initial catalog=DB_CMMS_20200813_Expack;user id=sa;password=Afisol@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!-- TTS LIVE -->
    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.150;Initial Catalog=MountFreight;Integrated Security=False;User Id=sa;Password=a;" providerName="System.Data.SqlClient" />
    <add name="DB_EDocEntities" connectionString="metadata=res://*/Repository.ModeleDocs.csdl|res://*/Repository.ModeleDocs.ssdl|res://*/Repository.ModeleDocs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.150;initial catalog=MountFreight;user id=sa;password=a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--AWS BabelFish-->
    
    <add name="DefaultConnection" connectionString="Server=edocuat.cpdg7wgysobs.ap-southeast-1.rds.amazonaws.com;Database=DB_EDoc;User Id=sa;Password=pass123#;" />    
    <add name="DB_EDocEntities" connectionString="metadata=res://*/Repository.ModeleDocs.csdl|res://*/Repository.ModeleDocs.ssdl|res://*/Repository.ModeleDocs.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=edocuat.cpdg7wgysobs.ap-southeast-1.rds.amazonaws.com;initial catalog=DB_EDoc;user id=sa;password=pass123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:appStartup" value="GatorsConfig" />

      <!--TTS LIVE -->
    <!--<add key="UploadFilePath" value="D:\OneDrive - Civaro International LTD\E Doc Folded\Uploads\" />
    <add key="TempFilePath" value="D:\OneDrive - Civaro International LTD\E Doc Folded\Uploads\TempUpload\" />
    <add key="Watermarkpath" value="D:\OneDrive - Civaro International LTD\E Doc Folded\Uploads\Watermark\" />-->

    <!--QA UAT -->
    <add key="UploadMethod" value="S3" />
    <add key="UploadFilePath" value="C:\Uploads\eDoc\" />
    <add key="TempFilePath" value="C:\Uploads\TempUpload\" />
    <add key="Watermarkpath" value="https://edoc-uat.advantis.lk/eDoc/Watermark/" />
    <!--<add key="Watermarkpath" value="C:\Uploads\Watermark\" />-->

    <!--QA UAT-->
    <!--<add key="FindSingleSearch" value="http://10.11.30.202/eDocApi/api/DirectSearch/FindSingleSearch" />
    <add key="VieImage" value="http://10.11.30.202/eDocApi/api/FileSearch/VieImage" />
    <add key="FindFile" value="http://10.11.30.202/eDocApi/api/FileSearch/FindFile" />
    <add key="GetDirectImage" value="http://10.11.30.202/eDocApi/api/FileSearch/GetDirectImage" />
    <add key="checkImage" value=" http://10.11.30.202/eDocApi/api/ValidateImage/checkImage" />
    <add key="GetProperties2" value="http://10.11.30.202/eDocApi/api/Template/GetProperties2" />
    <add key="GetDocumentType" value="http://10.11.30.202/eDocApi/api/Template/GetDocumentType" />
    <add key="LoadExistingValues_PDFViewer" value="http://10.11.30.202/eDocApi/api/GridValues/LoadExistingValues_PDFViewer" />-->

    <!--<add key="FindSingleSearch" value="http://10.11.30.202/eDocApi/api/DirectSearch/FindSingleSearch" />
    <add key="VieImage" value="http://10.11.30.202/eDocApi/api/FileSearch/VieImage" />
    <add key="FindFile" value="http://10.11.30.202/eDocApi/api/FileSearch/FindFile" />
    <add key="GetDirectImage" value="http://10.11.30.202/eDocApi/api/FileSearch/GetDirectImage" />
    <add key="checkImage" value=" http://10.11.30.202/eDocApi/api/ValidateImage/checkImage" />
    <add key="GetProperties2" value="http://10.11.30.202/eDocApi/api/Template/GetProperties2" />
    <add key="GetDocumentType" value="http://10.11.30.202/eDocApi/api/Template/GetDocumentType" />
    <add key="LoadExistingValues_PDFViewer" value="http://10.11.30.202/eDocApi/api/GridValues/LoadExistingValues_PDFViewer" />-->
    
    <!--<add key="FindSingleSearch" value="http://10.11.30.202:6071/api/DirectSearch/FindSingleSearch" />
    <add key="VieImage" value="http://10.11.30.202:6071/api/FileSearch/VieImage" />
    <add key="FindFile" value="http://10.11.30.202:6071/api/FileSearch/FindFile" />
    <add key="GetDirectImage" value="http://10.11.30.202:6071/api/FileSearch/GetDirectImage" />
    <add key="checkImage" value=" http://10.11.30.202:6071/api/ValidateImage/checkImage" />
    <add key="GetProperties2" value="http://10.11.30.202:6071/api/Template/GetProperties2" />
    <add key="GetDocumentType" value="http://10.11.30.202:6071/api/Template/GetDocumentType" />
    <add key="LoadExistingValues_PDFViewer" value="http://10.11.30.202:6071/api/GridValues/LoadExistingValues_PDFViewer" />-->
    
    <!--TTS UAT-->
    <!--<add key="FindSingleSearch" value="http://192.168.1.25:6071/api/DirectSearch/FindSingleSearch" />
    <add key="VieImage" value="http://192.168.1.25:6071/api/FileSearch/VieImage" />
    <add key="FindFile" value="http://192.168.1.25:6071/api/FileSearch/FindFile" />
    <add key="GetDirectImage" value="http://192.168.1.25:6071/api/FileSearch/GetDirectImage" />
    <add key="checkImage" value=" http://192.168.1.25:6071/api/ValidateImage/checkImage" />
    <add key="GetProperties2" value="http://192.168.1.25:6071/api/Template/GetProperties2" />
    <add key="GetDocumentType" value="http://192.168.1.25:6071/api/Template/GetDocumentType" />
    <add key="LoadExistingValues_PDFViewer" value="http://192.168.1.25:6071/api/GridValues/LoadExistingValues_PDFViewer" />-->
    
    <!--<add key="FindSingleSearch" value="http://localhost:7870/api/DirectSearch/FindSingleSearch" />
    <add key="VieImage" value="http://localhost:7870/api/FileSearch/VieImage" />
    <add key="FindFile" value="http://localhost:7870/api/FileSearch/FindFile" />
    <add key="GetDirectImage" value="http://localhost:7870//api/FileSearch/GetDirectImage" />
    <add key="checkImage" value=" http://localhost:7870/api/ValidateImage/checkImage" />
    <add key="GetProperties2" value="http://localhost:7870/api/Template/GetProperties2" />
    <add key="GetDocumentType" value="http://localhost:7870/api/Template/GetDocumentType" />
    <add key="LoadExistingValues_PDFViewer" value="http://localhost:7870/api/GridValues/LoadExistingValues_PDFViewer" />-->

    <add key="FindSingleSearch" value="https://edoc-uat.advantis.lk/eDocApi/api/DirectSearch/FindSingleSearch" />
    <add key="VieImage" value="https://edoc-uat.advantis.lk/eDocApi/api/FileSearch/VieImage" />
    <add key="FindFile" value="https://edoc-uat.advantis.lk/eDocApi/api/FileSearch/FindFile" />
    <add key="GetDirectImage" value="https://edoc-uat.advantis.lk/eDocApi/api/FileSearch/GetDirectImage" />
    <add key="checkImage" value="https://edoc-uat.advantis.lk/eDocApi/api/ValidateImage/checkImage" />
    <add key="GetProperties2" value="https://edoc-uat.advantis.lk/eDocApi/api/Template/GetProperties2" />
    <add key="GetDocumentType" value="https://edoc-uat.advantis.lk/eDocApi/api/Template/GetDocumentType" />
    <add key="LoadExistingValues_PDFViewer" value="https://edoc-uat.advantis.lk/eDocApi/api/GridValues/LoadExistingValues_PDFViewer" />
    
      
    <add key="SubstringValue" value="86" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="eDocs" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
     <add key="GetEDocModuleID" value="500" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="500000000" />
    <!--<sessionState mode="InProc" timeout="30"></sessionState>-->
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <sessionState mode="InProc"></sessionState>
    <!--<sessionState timeout="15" mode="InProc" cookieless="false">
    </sessionState>-->
    <!--timeout="20" cookieless="AutoDetect" regenerateExpiredSessionId="false"-->
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="500000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>